<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로그인</h1>
    <a href="/">홈으로 돌아가기</a>
    <a href="/signup">회원가입</a>
    <form action="/login" method="post">
        <ul style="list-style-type: none;">
            <li><input type="text" placeholder="이름 입력" name="userName"></li>
            <li><input type="text" placeholder="전화번호 입력" name="userTel"></li>
            <button type="submit">로그인</button>
        </ul>
    </form>
</body>
</html>