<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 상세 정보</title>
</head>
<body>
    <h1>메뉴 상세 정보</h1>
    <a href="/menu">메뉴 목록으로 돌아가기</a>
    <h2><%= menuData.menu_name %></h2>
    <p>가격: <%= menuData.menu_price %></p>
    <p>메뉴 정보: <%= menuData.menu_info %></p>
    <p>카테고리: <%= menuData.menu_category %></p>
</body>
</html>