<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 등록</title>
</head>
<body>
    <h1>메뉴 등록</h1>
    <a href="/">돌아가기</a>
    <form action="/menu_reg" method="post">
        <ul style="list-style: none;">
            <li>메뉴 명 : <input type="text" name="menuName"></li>
            <li>메뉴 가격 : <input type="text" name="menuPrice"></li>
            <li>메뉴 정보 : <input type="text" name="menuInfo"></li>
            <li>메뉴 분류 : <input type="text" name="menuCategory"></li>
            <button type="submit">메뉴 등록</button>
        </ul>
    </form>
</body>
</html>
