<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>주문이 완료되었습니다.</h1>
    <p>로그아웃하거나 메뉴판으로 이동하시겠습니까?</p>

    <a href="/logout">로그아웃</a>  |
    <a href="/menu">메뉴판</a>
</body>
</html>