<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공급업체 상세 정보</title>
</head>
<body>
    <h1>DB 커피점 - <%= supplierDetail.sup_name %> 상세 정보</h1>
    <a href="/supply_list">목록으로 돌아가기</a>
    <a href="/">홈으로 돌아가기</a>
    <ul>
        <li>공급업체 이름: <%= supplierDetail.sup_name %></li>
        <li>공급업체 주소: <%= supplierDetail.sup_add %></li>
    </ul>
</body>
</html>